.popup {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0 , 0, .5);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
.popup_opened {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    z-index: 3;
}
.popup__container {
    margin: 30vh auto 0px;
    padding: 34px 36px 28px;
    max-width: 360px;
    min-height: 114px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}
.popup__close-button {
    position: absolute;
    padding: 0;
    right: -45px;
    top: -45px;
    width: 40px;
    height: 40px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    background-image: url(../../images/close-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto;        
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    outline: none;
    z-index: -1;
}
.popup__close-button:hover {
    opacity: .7;
}
.popup__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #1A1B22;
    margin: 0px 0px 22px 0px;
}
.popup__nav {
    margin: 16px 0px 0px 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.popup__link {
    text-decoration: none;
    color: #2F71E5;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.popup__link:hover {
    opacity: .7;
}
@media all and (max-width: 600px) {
    .popup__container {
        margin: 56px auto 0px;
        padding: 16px 16px 0px;
        max-width: 320px;
        min-height: 560px;
    }
    .popup__close-button {
        position: absolute;
        padding: 0;
        right: 16px;
        top: -40px;
        width: 24px;
        height: 24px;
        z-index: 3;
    }
}