.popup__submit-button {
    display: block;
    margin: 0px;
    width: 100%;
    padding: 18px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
    cursor: pointer;
    opacity: 1;
    background-color: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    border: none;
    position: relative;
}
.popup__submit-button:hover {
    background-color: #347EFF;
}
.popup__submit-button_disabled {
    cursor: default;
    background-color: #E6E8EB;
    color: #B6BCBF;
    box-shadow: none;
    pointer-events: none;
}
.popup__field {
    width: 100%;
    margin: 0px 0px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.popup__field:last-of-type {
    margin-bottom: 43px;
}
.popup__input-caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin: 0px;
}

.popup__input {
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.popup__input_novalid {
    border-bottom: 1px solid #FF0000;
}
.popup__input:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
}
.popup__input-error {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    top: calc(100% + 5px);
    left: 0px;
    opacity: 0;
    transition: .3s ease-in-out;
}
.popup__input-error_active {
    opacity: 1;
}
.popup__form-error {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FF0000;
    margin: 0px 0px 8px 0px;
    opacity: 0;
    transition: .3s ease-in-out;
}
.popup__form-error_active {
    opacity: 1;
}
@media all and (max-width: 600px) {
    .popup__field:last-of-type {
        margin-bottom: 23px;
    }
}