@keyframes show-menu {
    from {
        padding: 0px 0px;
        height: 0px;
    }
    to {
        padding: 60px 0px 20px;
        height: auto;
    }
}
@keyframes hide-menu {
    from {
        padding: 60px 0px 20px;
        height: auto;
    }
    to {
        padding: 0px 0px;
        height: 0px;
    }
}
.nav__container {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.nav__item_active {
    border-bottom: 3px solid;
}
.nav__item {
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    box-sizing: border-box;
    border-color: #1A1B22;
}
.nav__item_type_white {
    border-color: #ffffff;
}
.nav__item:last-of-type {
    margin-right: 0px;
}
.nav__link {
    cursor: pointer;
    margin: 0px;
    color: #1A1B22;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    transition: .3s;
}
.nav__link:hover {
    opacity: .7;
}
.nav__link_type_white {
    color: #ffffff;
}
.nav__btn {
    margin: 0px;
    cursor: pointer;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    color: #1A1B22;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: .3s;
}
.nav__btn_type_white {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.nav__btn:hover {
    opacity: .7;
}
.nav-mobile__button {
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: none;
}
.nav-mobile__button:hover {
    opacity: 0.7;
}
.nav-mobile__button_menu_hide {
    background-color: transparent;
    background-image: url('../../images/close-button.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto; 
}
.nav-mobile__button_menu_show {
    background-color: transparent;
    background-image: url('../../images/menu-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto; 
}
.nav-mobile__button_menu_show.nav-mobile__button_type_black {
    background-color: transparent;
    background-image: url('../../images/menu-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto; 
}
.nav-mobile__button_menu_hide.nav-mobile__button_type_black {
    background-color: transparent;
    background-image: url('../../images/close-button-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    -webkit-background-size: auto;        
    -moz-background-size: auto;          
    -o-background-size: auto; 
}
.nav-mobile__container {
    position: absolute;
    left: 0px;
    top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    background: #1A1B22;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: -1;
}
.nav-mobile__container_type_show {
    animation: show-menu 0.3s forwards;
    height: auto;
}
.nav-mobile__container_type_hide {
    animation: hide-menu 0.3s backwards;
    height: 0px;
}
.nav__item_type_mobile {
    padding: 0px 16px;
    border: none;
}
.nav__btn_type_mobile {
    padding: 0px 16px;
}
.nav-mobile__container_type_white {
    background: #ffffff;
}
@media all and (max-width: 1024px) {
    .nav__item { 
        height: 66px;
        margin-right: 16px;
    }
    .nav__item_type_mobile {
        height: 56px;
        margin: 0px;
    }
    .nav__link {
        font-size: 16px;
    }
    .nav__btn {
        font-size: 16px;
        padding: 8px 12px;
    }
    .nav__btn_type_mobile {
        padding: 15px 12px;
        width: 100%;
        margin: 0px 16px;
        font-size: 18px;
        line-height: 24px;
    }
}