.search__form {
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}
.search__input {
    background-color: #fff;
    border-radius: 100px;
    border: none;
    padding: 0 25px 0px 25px;
    width: 100%;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
}
.search__input:focus {
    border: 2px solid #2F71E5;
    margin: -2px;
}
.search__input::placeholder {
    color: #B6BCBF;
}
.search__btn {
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    border: none;
    margin: -1px -1px -1px -167px;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 54px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
.search__btn:hover {
    background: #347EFF;
}
.search__btn:active {
    background: #2A65CC;
}
@media all and (max-width: 1024px) {
    .search__btn { 
        padding: 16px 50px;
        margin: -1px -1px -1px -159px;
    }
}
@media all and (max-width: 600px) {
    .search__form {
        margin: auto auto 0px;
        background: none;
        border: none;
        max-width: 288px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .search__input {
        border: 1px solid #D1D2D6;
        box-sizing: border-box;
        backdrop-filter: blur(100px);
        padding: 0px 16px;
        min-height: 56px;
        width: 100%;
    }
    .search__btn {
        margin: 16px 0px 0px 0px;
        padding: 0px;
        min-height: 56px;
        width: 100%;
    }
}